backup/
Debug*/
Release*/
build*/
Roms/
*.ncb
*.suo
*.sdf
*.user
projects/msvc15/*db
projects/msvc15/GeneratedFiles
projects/msvc15/libGLideNHQ.dir
projects/msvc12/*db
projects/msvc12/GeneratedFiles
src/Revision.h
