backup/
Debug*/
Release*/
build*/
Roms/
*.ncb
*.suo
*.sdf
*.user
projects/msvc14/*db
projects/msvc14/GeneratedFiles
projects/msvc14/libGLideNHQ.dir
projects/msvc12/*db
projects/msvc12/GeneratedFiles
src/Revision.h
